<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BasicPercent" value="0.4"/>
    <add key="HRAPercent" value="0.5"/>
    <add key="ConvAmount" value="1600"/>
    <add key="MedicalReimbursementAmount" value="1250"/>
    <add key="PFContributionPercent" value="0.12"/>
    <add key="PFLimitAmount" value="15000"/>    
    <add key="ESICPercent" value="0.0475"/>
    <add key="ESICLimitAmount" value="21000"/>
  </appSettings>
</configuration>